body {
  margin: 0;
}
/* header and navigation */
header {
  display: flex;
  align-items: center;
  border-bottom: 1px black solid;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
}

/* main contents of the website */
.content {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 78px;
  z-index: 10;
}

.column {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  text-align: center;
}

text-box {
  height: 250px;
}

p.narrative {
  margin: 16px 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

/* First Column */
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

#bottom-box {
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
  width: 630px;
}

.mini-box {
  display: flex;
  flex-direction: column;
}

#box-1 {
  margin-right: 30px;
}

#img-story-main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  text-align: left;
  width: 630px;
}

#img-story-main span {
  font-size: 40px;
  padding: 20px;
}

#img-story-2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

#img-story-3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

/* Second Column */
.column.medium {
  width: 300px;
  margin-right: 30px;
  flex-direction: column;
}

#img-story-1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

/* Third Column */
.column.small {
  width: 240px;
  flex-direction: column;
  justify-content: space-around;
}

#news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgray;
}

#news div {
  border-bottom: 1px solid black;
  padding: 13px 10px 13px 20px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  padding: 130px;
  font-family: Verdana;
  font-size: 12px;
  color: black;
}

.footer-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#index ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#index li {
  padding: 0 15px;
}

#copyright {
  padding-left: 40px;
}
