body, html {
  margin: 0 auto;
}

div {
  border: 1px black solid;
}

/* header and navigation */
header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px black solid;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/* main contents of the website */
.content {
  display: flex;
  padding-top: 120px;
  margin: 0 auto 78px auto;
  z-index: 10;
}

.column {
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

h2, p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#img-story-main {
  text-align: left;
}

.image {
  text-align: center;
  height: 300px;
}

#img-story-main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-size: 40px;
}

#img-story-1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

#img-story-2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

#img-story-3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
