body, html {
  margin: 0 auto;
}

/* header and navigation */
header {
  display: flex;
  align-items: center;
  border-bottom: 1px black solid;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
}

/* main contents of the website */
.content {
  display: flex;
  padding-top: 120px;
  margin-bottom: 78px;
  z-index: 10;
}

.column {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  width: 630px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  margin-right: 32px;
}

.column.small {
  width: 240px;
}

span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#img-story-main span {
  font-size: 40px;
}

.image {
  text-align: center;
  height: 300px;
  width: 300px;
  margin-top: 15px;
}

text-box {
  height: 250px;
}

#img-story-main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  text-align: left;
  width: 630px;
}

#img-story-1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

#img-story-2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

#img-story-3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

#bottom-box {
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
  width: 630px;
}

.mini-box {
  display: flex;
  flex-direction: column;
}

#box-1 {
  margin-right: 30px;
}

p.narrative {
  margin: 16px 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}
